/* Google Font inset */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Start Global Style */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* heading font */
body,h1,h2,h3,h4,h5,h6,a,input[type="submit"]{
    font-family: "Raleway", sans-serif;
}
form, input{
    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* End Global Style */
