/* Google Font inset */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Start Global Style */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* heading font */
body,h1,h2,h3,h4,h5,h6,a,input[type="submit"]{
    font-family: "Raleway", sans-serif;
}
form, input{
    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    max-width: 1140px;
    margin:0 auto;
    padding:0 20px;
}
:root{
    --primary-color:#4E47FF;
    --secondary-color:#F5F8FF;
    --dark:#252432;
    --cool-gray:#8D8E98;
    --light-blue-gray:#E4E6FF;
    --white:#ffffff;
    --pale-gray:#FAFCFF;
}
/* button style */
a.btn{
    color:var(--white);
    font-size:16px;
    display: inline-block;
    padding:10px 20px;
    border-radius: 8px;
    background-color: var(--primary-color);
    font-weight: 600;
    transition:0.3s;
}
a.btn:hover{
    background-color: var(--dark);
    color:var(--white);
}
section{
    padding:80px 0;
}
/* End Global Style */

/* Start Header area style */
#header{
    background-image: url('../images/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* End Header area style */

/* Start Navigation area style */
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:50px 0;
}
/* logo style */
.logo h3{
    font-size:35px;
    font-weight: bold;
    color:var(--dark);
}
.logo h3 a{
    color:var(--dark);
}
.logo h3 span{
    color:var(--primary-color);
}

/* End Navigation area style */

/* Start Banner area style */
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top:100px;
    padding-bottom: 140px;
    text-align: center;
    padding-left:30px;
    padding-right:30px;
}
.banner h1{
    font-size: 65px;
}
.banner a.btn{
    margin-top:30px;
}
/* End Banner area style */


/* Start action section style */
#action-section{
    background-color: var(--secondary-color);
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-side h2{
    font-size:38px;
    font-weight: bold;
    color:var(--dark);
}
.left-side p{
    color: var(--cool-gray);
    margin:15px 0;
    width: 60%;
}
/* right side image */
.right-side img{
    max-width: 320px;
    border-radius: 40px;
}
/* End action section style */

/* Start Productive User Section Style */
#productive-users{
    background-color: var(--secondary-color);
}
.productive-user-wrap{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    background-color: var(--light-blue-gray);
    padding:40px 0;
    border-radius: 20px;
    text-align: center;
}
/* productive-users-title  */
.productive-users-title h2{
    font-size:35px;
    margin-bottom: 30px;
}

/* productive-users-count */
.productive-users-count{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap:70px; */
    font-family: "Inter", sans-serif;
    padding:0 50px;
}
.productive-users-count .users h3{
    font-size:70px;
    font-family: "Inter", sans-serif;
    color:var(--primary-color);
}
.productive-users-count .users p{
    color:var(--cool-gray);
    text-align: center;
    font-size: 18px;
}
/* End Productive User Section Style */

/* Start Reviewer Section style */
#user-feedback{
    background-color: var(--secondary-color);
    padding-top: 30px;
}
.user-feedback-title{
    text-align: center;
}
.user-feedback-title h2{
    font-size: 40px;
    color:var(--dark);
    margin-bottom: 40px;
}
/* user feedback card design */
.user-feedback-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-feedback-card .feedback-card{
    flex-basis: 32%;
    background-color: var(--pale-gray);
    border:1px solid var(--light-blue-gray);
    border-radius: 10px;
    padding:20px;
}
.user-feedback-card .title-sub-title h4{
    font-size:20px;
    color:var(--dark);
    margin:10px 0;
}
.user-feedback-card .title-sub-title p{
    font-size:16px;
    color:var(--dark);
    margin-bottom: 25px;
}
.user-feedback-card .review-image-name-date{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:15px
}
.user-feedback-card .review-image img{
    max-width: 40px;
    max-height: 40px;
    border-radius: 50px;
}
.user-feedback-card .review-name-date p{
    font-size:14px;
    line-height: 20px;
}
.user-feedback-card .review-name-date p:first-child{
    color:var(--dark);
    font-weight: bold;
}
.user-feedback-card .review-name-date p:last-child{
    color:var(--cool-gray);
}
/* End Reviewer Section style */

/* Start Ready To focus style */
#ready-to-focus{
    background-color: var(--secondary-color);
    padding-top:20px;
}
.ready-to-focus-content{
    background-color: var(--white);
    padding:80px;
    border-radius: 15px;
}
.focus-title-sub-title{
    text-align: center;
    margin-bottom: 30px;
}
.focus-title-sub-title h2{
    font-size:50px;
    color:var(--dark);
    margin-bottom: 20px;
}
.focus-title-sub-title p{
    font-size:16px;
    color:var(--cool-gray);
    margin-bottom: 20px;
}
.focus-image {
    text-align: center;
}
.focus-image img{
    border-radius: 50px;
}
/* End Ready To focus style */

/* Start Let's Get in touch style */
#get-in-touch{
    background-color: var(--secondary-color);
    padding-top:30px;
}
.get-in-touch-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* title */
.get-in-touch-title{
    flex-basis: 60%;
}
.get-in-touch-title h2{
    font-size: 80px;
    font-weight: bold;
    color:var(--dark);

}
/* form */
.get-in-touch-form{
    flex-basis: 40%;
}
.get-in-touch-form form input,textarea{
    display: block;
    width: 100%;
    border:1px solid var(--light-blue-gray);
    background-color: var(--white);
    padding:15px;
    outline:none;
    border-radius: 8px;
    font-family: "Raleway", sans-serif;
}
.get-in-touch-form form label{
    color:var(--dark);
    margin-bottom: 5px;
    display: inline-block;
    margin-top:15px;
    font-family: "Inter", sans-serif;
}
.get-in-touch-form form input[type="submit"]{
    color:var(--white);
    font-size:16px;
    padding:10px 20px;
    border-radius: 8px;
    background-color: var(--primary-color);
    font-weight: 600;
    transition:0.3s;
    cursor: pointer;
    margin-top: 15px;
}
.get-in-touch-form form input[type="submit"]:hover{
    background-color: var(--dark);
    color:var(--white);
    
}



/* End Let's Get in touch style */
