/* Google Font inset */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Start Global Style */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* heading font */
body,h1,h2,h3,h4,h5,h6,a,input[type="submit"]{
    font-family: "Raleway", sans-serif;
}
form, input{
    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    max-width: 1140px;
    margin:0 auto;
    padding:0 20px;
}
:root{
    --primary-color:#4E47FF;
    --secondary-color:#F5F8FF;
    --dark:#252432;
    --cool-gray:#8D8E98;
    --light-blue-gray:#E4E6FF;
    --white:#ffffff;
}
/* button style */
a.btn{
    color:var(--white);
    font-size:16px;
    display: inline-block;
    padding:10px 20px;
    border-radius: 8px;
    background-color: var(--primary-color);
    font-weight: 600;
    transition:0.3s;
}
a.btn:hover{
    background-color: var(--dark);
    color:var(--white);
}
/* End Global Style */

/* Start Header area style */
#header{
    background-image: url('../images/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/* End Header area style */

/* Start Navigation area style */
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:50px 0;
}
/* logo style */
.logo h3{
    font-size:35px;
    font-weight: bold;
    color:var(--dark);
}
.logo h3 a{
    color:var(--dark);
}
.logo h3 span{
    color:var(--primary-color);
}

/* End Navigation area style */

/* Start Banner area style */
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top:100px;
    padding-bottom: 140px;
    text-align: center;
    padding-left:30px;
    padding-right:30px;
}
.banner h1{
    font-size: 65px;
}
.banner a.btn{
    margin-top:30px;
}
/* End Banner area style */
